<div style="text-align:center">
    <p >
      <button    class="btn btn-link" routerLink="/courses" >
        <img  src="assets/img/courses.png" width="200" height="230" alt="courses" title="courses" />
        <br>
        <h2 style="color: #A0A0AB"><B>Courses</B></h2>
      </button>
    <button   class="btn btn-link" routerLink="/users">
      <img   src="assets/img/users.png" width="200" height="230" alt="users" title="users" />
      <br>
      <h2 style="color: #A0A0AB"><B>Users</B></h2>
    </button>
    <button   class="btn btn-link" routerLink="/services">
      <img  src="assets/img/services.jpg" width="200" height="230" alt="services" title="services" />
      <br>
      <h2 style="color: #A0A0AB"><B>Services</B></h2>
    </button>
  </p>
    <br>
    <br>
    <br>
    <br>
    <br>
  
    <br>
  </div>
  
  