<div class="loader" *ngIf="isLoading"></div>
<div *ngIf="isLoading==false">

<div style="text-align:center">
  <form class="form-inline my-2 my-lg-0">
    <input (input)="tcode=$event.target.value" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

    <button type="button" class="btn btn-link" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="searchService(onSubmitSearch())"><img  src="assets/img/search.png" width="30" height="search" alt="edit" title="search" /></button>
    <button disabled type="button" class="btn btn-link"  (click)="autouriserAjout()" ><img  src="assets/img/add.png" width="30" height="search" alt="add" title="add" /></button>

  </form>
  </div>
          <ul style="padding-top: 0cm; padding-left: 25%; padding-right: 25% ; padding-bottom: 1cm">
    
            <li style="width: 1cm" style = "background-image: url('assets/img/background10.jpg')"  class="list-group-item d-flex justify-content-between align-items-center" *ngIf="isAddAutorized()"  >
              <div style ="text-align:right">
              <button type="button" class="btn btn-link" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="inhiberAjout()"><img  src="assets/img/hide.png" width="20" height="20" alt="add" title="add" /></button>
              </div>
                <div style ="text-align:center">
                  <h4 style = "color: powderblue"><B>Add Service</B></h4>
        
                    <form class="form-inline">
                        <div >
                          <label style = "color: powderblue" for="exampleInputEmail1">User Name</label>
                          <select (change)="getSelectedUser($event)" id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option  *ngFor="let user of allUsers">{{user.username}}</option>
                          </select>
                        </div>
                        <div >
                          <label style = "color: powderblue" for="exampleInputEmail1">Course Name</label>
                          <select (change)="getSelectedCourse($event)" id="inputState" class="form-control">
                              <option selected>Choose...</option>
                            <option  *ngFor="let cours of allCourses">{{cours.cours_name}}</option>
                          </select>
                        </div>   
                     
                        <div >
                          <label style = "color: powderblue" for="exampleInputEmail1">Image Name</label>
                          <select (change)="getSelectedImage($event)" id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option *ngFor="let image of allImages">{{image.image_name}}</option>
                          </select>
                        </div>           
                   <button  type="button" class="btn btn-link"  ><img  src="assets/img/add.png" width="30" height="search" alt="add" title="add" /></button>

        
                        
                      </form>
        
        
                </div>
        
              </li>
            </ul>

  
    <ul style="padding-left: 15%; padding-right: 15% " class="list-group" *ngFor="let service of allServices">
      <li   style = "background-image: url('assets/img/background10.jpg')"  class="list-group-item d-flex justify-content-between align-items-center">
        <img src="assets/img/services.jpg" align="left" width="75" height="75" alt="" title="" /> 


          <table  style="color: powderblue" align ="center">
              <td >
                <tr>     <h6><B>UserName:  </B>  {{service.username}} </h6> </tr>
                <tr> <h6><B>CoursName: </B>   {{service.cours_name}} </h6>   </tr>
                <tr >    <h6> <B> ImageName: </B>    {{service.image_name}} </h6></tr>
              </td> 
            
            </table>


            <button disabled style="float: right;" class="btn btn-link" (click)="deleteService(service.user_id,service.username,service.cours_id,service.cours_name,service.image_id,service.image_name)"><img  src="assets/img/delete.jpg" align="right" width="20" height="20" alt="delete" title="delete" /></button> 
            <button   disabled style="float: right;" class="btn btn-link" ><img  src="assets/img/edit2.png" align="right" width="20" height="20" alt="edit" title="edit" /></button>
            <br>
          </li>
    
  <p>
    
    </p>
  

  </ul>

  
</div>